    .main-index {
    margin-top: 39px;
    background-image: url(./Images/la-boca2.jpeg);
}

    .centralindextexto {
    padding-top: 40px;
    margin-left: 30px;
    font-size: 90px;
    font-family: sans-serif;
    color: rgb(255, 0, 251);
    font-weight:bold;
    -webkit-text-stroke: 2px black;
   
}
    .buenosairesfuente {
    font-size: 200px;
    font-family: sans-serif;
    color: rgb(253, 253, 253);
    font-weight:bold;
    -webkit-text-stroke: 2px black;

}

    .body-laboca {
    background-image: url(./Images/d11df067-city-19264-1663f5003f6.jpeg);
    background-size:cover;
}
     

