.headerconociendo {
    height: 40px;
    width:100%;
    background-color: magenta;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.menu {
    display: flex;
    height: 40px;
    width: 100%;
    background-color:rgb(16, 15, 19);
    border-style:dashed;
    border-color: aliceblue;

}
