 /* Fuentes */


 @font-face {
    font-family: letraparamenu;
    src: url(./resources/Homenaje/Homenaje-Regular.ttf);
}

@font-face {
    font-family: letraparalogo;
    src: url(./resources/Holtwood/HoltwoodOneSC-Regular.ttf);
}

@font-face {
    font-family: letraparasubsecciones;
    src: url(./resources/Hurricane/Hurricane-Regular.ttf);
}   

